.content-banner {
  background-image: linear-gradient(109deg, #39b1e8 0%, #0042c6 100%);
  width: 100%;
  height: 165px;
  overflow: hidden;
}
.mr100 {
  margin-right: 100px;
}

.h4-title {
  color: #ffffff;
  font-weight: 400;
  margin-right: 30px;
  text-align: right;
}

.img-playstore {
  width: 158px;
  height: 53px;
}
.img-appstore {
  width: 140px;
  height: 39px;
  margin-left: 9px;
}
